<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiz_selvtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Quiz_done"></activity>
        <activity android:name=".Quiz_2" />
        <activity android:name=".NoAccountAct" />
        <activity android:name=".RegisterAct" />
        <activity android:name=".NonStudentSigninAct" />
        <activity android:name=".CreatedQuizzesAct" />
        <activity android:name=".CreateQuizAct" />
        <activity android:name=".HomescreenAct" />
        <activity android:name=".StudentSigninAct" />
        <activity android:name=".Quiz_1" />
        <activity android:name=".SettingsAct" />
        <activity android:name=".ProfileAct" />
        <activity android:name=".StartScreenAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>